h1 {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin: 0 20vw 0 20vw;
}

.flex-container > button {
	max-width: min-content;
	align-self: center;
	margin-top: 15px;
}

.flex-container > label {
	margin-bottom: 5px;
	font-size: 1.2em;
}